<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-equeo-checkLowPowerMode" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>equeoCheckLowPowerMode</name><js-module name="equeoCheckLowPowerMode" src="www/equeoCheckLowPowerMode.js"><clobbers target="cordova.plugins.equeoCheckLowPowerMode" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="equeoCheckLowPowerMode"><param name="ios-package" value="equeoCheckLowPowerMode" /></feature></config-file><source-file src="src/ios/equeoCheckLowPowerMode.m" /><header-file src="src/ios/equeoCheckLowPowerMode.h" /></platform></plugin>